body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 1440px;
  margin: auto;
  font-size: 14px;
  color: #505050;
}

button {
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #505050;
}

.header-block__up {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.header-block__up > div:nth-child(1) {
  font-size: 18px;
}
.header-block__up > div:nth-child(1) > p > span {
  font-weight: 500;
}
.header-block__down {
  background-color: #FAFAFA;
}
.header-block__down section button {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #FAFAFA;
}
.header-block__down-button_active {
  background-color: #F1F1F1 !important;
}

.main-block {
  background-color: #F1F1F1;
}
.main-block__photos {
  background-color: #FFFFFF;
  width: 1064px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.main-block__photos a {
  color: #5095EC;
}
.main-block__photos > div:nth-child(3) > span {
  color: #8F8F8F;
}
.main-block__photos > div:nth-child(3) > span > span {
  font-style: italic;
}
.main-block__photos > div:nth-child(4) span {
  font-size: 16px;
}
.main-block__item {
  background-color: #FFFFFF;
  font-size: 16px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  width: 1064px;
}
.main-block__item img:last-child {
  cursor: pointer;
}
.main-block__info {
  width: 280px;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.main-block__info > span:nth-child(2) {
  font-size: 18px;
}
.main-block__info > span:nth-child(3) {
  color: #8F8F8F;
}
.main-block__navigation {
  background-color: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.main-block__navigation > div > img {
  cursor: pointer;
}
.main-block__navigation > div:nth-child(1) {
  font-weight: 500;
}
.main-block__navigation-item {
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 8px;
  width: 24px;
  text-align: center;
}
.main-block__navigation > div:nth-child(2) > div:nth-child(2) > span:last-child {
  font-size: 12px;
  color: #8F8F8F;
}
.main-block__navigation > div:nth-child(2) > div:nth-child(3) > span:last-child {
  background-color: #E33939;
}
.main-block__navigation > div:nth-child(3) > div:nth-child(1) > span:last-child {
  background-color: #47B091;
}
.main-block__thoughts {
  background-color: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.main-block__thoughts > div > img {
  cursor: pointer;
}
.main-block__thoughts > textarea {
  border-radius: 8px;
  color: #8F8F8F;
  resize: none;
  height: 88px;
}
.main-block__thoughts > textarea:focus {
  outline: none;
}
.main-block__thoughts > button {
  height: 32px;
  background-color: #5095EC;
  color: #FFFFFF;
  border-radius: 4px;
}

.map-block {
  position: relative;
  background-color: #FFFFFF;
}
.map-block__title > div > img {
  cursor: pointer;
}
.map-block__map {
  height: 512px;
}
.map-block__map > img {
  width: 200px;
  cursor: pointer;
}

.map-block span {
  font-size: 16px;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.time-block {
  background-color: #FFFFFF;
  font-size: 16px;
}

.time-block > img {
  cursor: pointer;
}

.accordion {
  width: 100%;
  background-color: #F1F1F1;
}

.accordion-item, .accordion-item:focus, .accordion-item:active {
  border: none;
}

.accordion-button:not(.collapsed) {
  color: #505050;
  background-color: #FFFFFF;
  box-shadow: none;
}

.accordion-button::after {
  display: none;
}

.accordion-button, .accordion-button:focus {
  box-shadow: none;
  justify-content: space-between;
  padding-right: 0;
  padding-left: 0;
  background-color: #FFFFFF;
  border: none;
}

.arrow-active {
  transform: rotate(180deg);
}

.inactive {
  display: none !important;
}

.loading1 {
  height: 100px;
  position: relative;
  width: 80px;
}

.loading1 > div {
  background-color: #FFFFFF;
  height: 30px;
  position: absolute;
  width: 12px;
  /* css3 radius */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* css3 transform - scale */
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -o-transform: scale(0.4);
  /* css3 animation */
  -webkit-animation-name: loading1;
  -webkit-animation-duration: 1.04s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -moz-animation-name: loading1;
  -moz-animation-duration: 1.04s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -o-animation-name: loading1;
  -o-animation-duration: 1.04s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
}

.loading1 > div:nth-child(1) {
  left: 0;
  top: 36px;
  /* css3 transform - rotate */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  /* css3 animation */
  -webkit-animation-delay: 0.39s;
  -moz-animation-delay: 0.39s;
  -o-animation-delay: 0.39s;
}

.loading1 > div:nth-child(2) {
  left: 10px;
  top: 13px;
  /* css3 transform - rotate */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  /* css3 animation */
  -webkit-animation-delay: 0.52s;
  -moz-animation-delay: 0.52s;
  -o-animation-delay: 0.52s;
}

.loading1 > div:nth-child(3) {
  left: 34px;
  top: 4px;
  /* css3 transform - rotate */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  /* css3 animation */
  -webkit-animation-delay: 0.65s;
  -moz-animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
}

.loading1 > div:nth-child(4) {
  right: 10px;
  top: 13px;
  /* css3 transform - rotate */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  /* css3 animation */
  -webkit-animation-delay: 0.78s;
  -moz-animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
}

.loading1 > div:nth-child(5) {
  right: 0;
  top: 36px;
  /* css3 transform - rotate */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  /* css3 animation */
  -webkit-animation-delay: 0.91s;
  -moz-animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
}

.loading1 > div:nth-child(6) {
  right: 10px;
  bottom: 9px;
  /* css3 transform - rotate */
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  /* css3 animation */
  -webkit-animation-delay: 1.04s;
  -moz-animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
}

.loading1 > div:nth-child(7) {
  bottom: 0;
  left: 34px;
  /* css3 transform - rotate */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  /* css3 animation */
  -webkit-animation-delay: 1.17s;
  -moz-animation-delay: 1.17s;
  -o-animation-delay: 1.17s;
}

.loading1 > div:nth-child(8) {
  left: 10px;
  bottom: 9px;
  /* css3 transform - rotate */
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  /* css3 animation */
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
}

/* css3 keyframes - loading1 */
@-webkit-keyframes loading1 {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #FFFFFF;
  }
}
@-moz-keyframes loading1 {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #FFFFFF;
  }
}
@-o-keyframes loading1 {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #FFFFFF;
  }
}

/*# sourceMappingURL=style.css.map */
